/**********************************************************************************************************************************
                                                                顶部导航(shortcut)
***********************************************************************************************************************************/
.shortcut {
  height: 30px;
  width: 100%;
  background-color: #e3e4e5;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.rel {
  position: relative;
}
.between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 顶部导航(shortcut) 左 */
.shortcut .shortLeft {
  padding-left: 7px;
  padding-right: 7px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
}
/* 顶部导航(shortcut) 右 */
.shortcut .shortRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 顶部导航(shortcut) 左 */
.shortcut .shortLeft span {
  color: #999;
}
.shortcut .shortLeft:hover {
  color: #e33333;
  background-color: #fff;
}
.shortcut .shortLeft .iconfont {
  color: #f10215;
  font-size: 14px;
}
/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 顶部导航(shortcut) 右 */
.shortcut .shortRight div {
  padding: 0 10px;
  position: relative;
}
.shortcut .shortRight .ico {
  padding-right: 20px;
  padding-left: 7px;
}
.shortcut .shortRight .redA a {
  color: red;
}
.shortcut .shortRight .ico:hover {
  background-color: #fff;
}
.shortcut .shortRight a {
  color: #999;
  line-height: 30px;
  display: inline-block;
}
.shortcut .shortRight a:hover {
  color: #e33333;
}
.shortcut .shortRight div::before {
  content: "";
  width: 1px;
  height: 10px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 11px;
  background-color: rgba(0, 0, 0, 0.2);
}
.shortcut .shortRight div:nth-child(1)::before {
  content: "";
  width: 0;
}
.shortcut .shortRight div:nth-child(2)::before {
  content: "";
  width: 0;
}

/* 下拉菜单(shortcut)  */
.outside {
  position: absolute;
}
.shortMapDiv {
  top: 30px;
  left: -1px;
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 10px;
  width: 300px;
  height: 400px;
  display: none;
  background-color: #fff;
  z-index: 3;
}
/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 下拉菜单(shortcut) 地址定位 */
.shortMapDiv .items {
  float: left;
  width: 60px;
  padding: 2px 0;
  margin-bottom: 3px;
}
.shortMapDiv .items a {
  padding: 0 8px;
  float: left;
  color: #999;
}
.shortMapDiv .items a:hover {
  background-color: #f4f4f4;
  color: #e33333;
}

/**********************************************************************************************************************************
                                                                头部导航(Header)
***********************************************************************************************************************************/
header {
  width: 100%;
  height: 140px;
  background-color: #fff;
  padding: 10px 0;
}
/* 头部导航(Header) 左 */
header .h-left {
  width: 190px;
  height: 120px;
  overflow: hidden;
}
/* 头部导航(Header) 右 */
header .h-right {
  width: 190px;
  height: 120px;
  overflow: hidden;
}
/* 头部导航(Header) 中间 */
header .h-content {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 头部导航(Header) 中间 */

/* 上 */
.h-content-top {
  height: 60px;
  padding-top: 15px;
  padding-left: 30px;
}
.h-content-top .formInput {
  width: 546px;
  height: 32px;
  position: relative;
  border: 2px solid #e2231a;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h-content-top .formInput input {
  width: 425px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  padding: 2px 44px 2px 17px;
  border: 1px solid transparent;
  outline: none;
}
.h-content-top .formInput span {
  position: absolute;
  right: 75px;
  top: 10px;
  width: 19px;
  height: 15px;
  overflow: hidden;
}
.h-content-top .formInput span i:hover {
  color: #e33333;
}
.h-content-top .formInput span i {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-size: 20px;
  text-align: center;
  font-family: iconfont, sans-serif;
  color: #9f9f9f;
  cursor: pointer;
}
.h-content-top .formInput button {
  background-color: #e2231a;
  width: 58px;
  height: 32px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.h-content-top .formInput button i {
  line-height: 32px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.h-content-top .formInput button:hover {
  background-color: #c81623;
}

/* 头部导航(Header) 中间-热词推荐 */
.h-content-top .hotwords {
  margin-top: 5px;
  line-height: 20px;
}
.h-content-top .hotwords :first-child {
  color: #c81623;
}
.h-content-top .hotwords a {
  color: #999;
  margin-right: 10px;
}
.h-content-top .hotwords a:hover {
  color: #e33333;
}

/* 头部导航(Header) 中间-底部推荐 */
.h-content .h-content-bottom {
  overflow: hidden;
}
.h-content .h-content-bottom ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.h-content .h-content-bottom li {
  float: left;
  height: 40px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.h-content .h-content-bottom li a {
  color: black;
  display: inline-block;
}
.h-content .h-content-bottom li a:hover {
  color: #c81623;
}
.h-content .h-content-bottom .redA a {
  font-weight: 700;
  color: red;
}

/**********************************************************************************************************************************
                                                                导航(nav)
***********************************************************************************************************************************/
nav {
  width: 100%;
  background-color: #f4f4f4;
  padding-bottom: 30px;
}
nav .fx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}
nav .n-left {
  width: 190px;
  height: 470px;
  background-color: #fff;
}
/* 左侧导航(n-left) 列表内容 */
.n-left ul {
  margin: 10px 0;
  height: 450px;
  width: 190px;
}
.n-left li {
  padding-left: 18px;
  color: black;
  height: 25px;
  line-height: 25px;
}
.n-left li:hover {
  background-color: #d9d9d9;
}
.n-left li a {
  font-size: 14px;
}
.n-left li a:hover {
  color: #c81623;
}

nav .n-content {
  width: 790px;
  height: 470px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .n-right {
  width: 190px;
  height: 470px;
  background-color: #fff;
}
nav .n-content .n-content-left {
  width: 590px;
  height: 470px;
  background-color: #fff;
  position: relative;
  /* overflow: hidden; */
}
.n-content .buttonLeft {
  position: absolute;
  width: 25px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
  cursor: pointer;
  left: 0;
  top: 50%;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.n-content .buttonRight {
  position: absolute;
  width: 25px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
  cursor: pointer;
  right: 0px;
  top: 50%;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.n-content-left div:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.n-content-left div:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.n-content-left i {
  line-height: 35px;
  color: #fff;
  font-size: 20px;
  display: block;
}

.n-content-left .buttonLists {
  position: absolute;
  left: 30px;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  width: 0;
}
.n-content-left .buttonLists ul {
  width: 120px;
  height: 15px;
  z-index: 3;
}
.n-content-left .buttonLists li {
  cursor: pointer;
  float: left;
  height: 8px;
  width: 8px;
  line-height: 15px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.4);
  margin-right: 4px;
}
.n-content-left .buttonLists li:first-child {
  background-color: #fff;
}

.n-content-left .images-list {
  position: relative;
  /* overflow: hidden; */
}
.n-content-left .img-items {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1.5s;
}
.n-content-left .img-items:nth-child(1) {
  opacity: 1;
}

.n-content .n-content-right {
  width: 190px;
  height: 470px;
  position: relative;
}
.n-content .n-content-right div:nth-child(1),
.n-content .n-content-right div:nth-child(3),
.n-content .n-content-right div:nth-child(5) {
  width: 190px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}
.n-content .n-content-right div img {
  width: 190px;
  height: 150px;
}
.n-content .n-content-right div img:hover {
  opacity: 0.7;
}
.n-content-right i {
  line-height: 35px;
  color: #fff;
  font-size: 20px;
  display: block;
}
.n-content-right div:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.n-content-right div:nth-child(4):hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.n-content-right .c-r-l-button {
  opacity: 0;
  transition: all 0.2s;
}
.n-content-right .c-r-r-button {
  opacity: 0;
  transition: all 0.2s;
}

/* --------------------nav-右侧----------------------- */
/* 上 - 用户欢迎 */
.n-right .n-r-userWelcome {
  width: 190px;
  height: 77px;
  position: relative;
  overflow: hidden;
}
/* 上 - 用户VIP */
.n-right .n-r-userVip {
  width: 190px;
  height: 25px;
  text-align: center;
  overflow: hidden;
}
/* 中 - 新闻 */
.n-right .n-r-news {
  width: 190px;
  height: 130px;
  overflow: hidden;
}
/* 下 - 用户服务 */
.n-right .n-r-userService {
  width: 190px;
  padding-top: 15px;
  overflow: hidden;
}

/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 上 - 用户欢迎 */
.n-r-uw-content {
  position: absolute;
  left: 20px;
  top: 13px;
  float: left;
}
.n-r-uw-content .n-r-uw-content-img {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.n-r-uw-content .n-r-uw-content-text {
  position: absolute;
  top: 0;
  margin-left: 10px;
  height: 40px;
  width: 106px;
  display: inline-block;
}
.n-r-uw-content .n-r-uw-content-text > a {
  color: #999;
}
.n-r-uw-content .n-r-uw-content-text a:hover {
  color: #c81623;
}
/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 上 - 用户VIP */
.n-r-userVip a {
  display: inline-block;
  width: 70px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 13px;
  margin: 0.5px;
  background-color: #e1251b;
}
.n-r-userVip a:last-child {
  color: #e5d790;
  background-color: black;
}
/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 中 - 新闻 */
.n-r-news .n-r-news-hd {
  width: 190px;
  height: 30px;
}
.n-r-news .n-r-news-hd h5 {
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
  color: #333;
}
.n-r-news .n-r-news-hd a {
  float: right;
  font-size: 12px;
  color: #999;
  margin-right: 10px;
}
.n-r-news .n-r-news-hd a:hover {
  color: #e1251b;
}
.n-r-news .n-r-news-list {
  margin: 0 15px;
  height: 88px;
}
.n-r-news .n-r-news-list li {
  max-width: 160px;
  width: 160px;
  height: 16px;
  line-height: 16px;
  color: #999;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.n-r-news .n-r-news-list a {
  color: #999;
}
.n-r-news .n-r-news-list a:hover {
  color: #e1251b;
}
.n-r-news .n-r-news-list span {
  width: 35px;
  height: 16px;
  line-height: 16px;
  margin-right: 6px;
  text-align: center;
  vertical-align: 0;
  font-size: 12px;
  color: #e1251b;
  background-color: rgba(225, 37, 27, 0.08);
}
/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 下 - 用户服务 */
.n-r-userService div {
  float: left;
  width: 63px;
  height: 55px;
  text-align: center;
}
.n-r-userService i {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}
.n-r-userService img {
  width: 28px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.n-r-userService img:first-child {
  opacity: 1;
}
.n-r-userService a:hover {
  color: #c81623;
}

/**********************************************************************************************************************************
                                                                广告(banner)
***********************************************************************************************************************************/
.banner {
  width: 100%;
  background-color: #f4f4f4;
}
/* 1/4 主体部分 */
.banner .b-seckill {
  width: 1200px;
  height: 260px;
  margin-bottom: 20px;
  background-color: cornflowerblue;
  overflow: hidden;
}
/* 2/4 主体部分 */
.banner .b-cheap {
  width: 1200px;
  height: 340px;
  margin-bottom: 20px;
  background-color: cornsilk;
  overflow: hidden;
}
/* 3/4 主体部分 */
.banner .b-find {
  width: 1200px;
  height: 260px;
  margin-bottom: 20px;
  background-color: cornsilk;
  overflow: hidden;
}
/* 4/4 主体部分 */
.banner .b-fresh {
  width: 1200px;
  height: 340px;
  margin-bottom: 20px;
  background-color: cornsilk;
  overflow: hidden;
}

/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 1/4 主体部分 */
.b-seckill .b-seckill-countdown {
  position: relative;
  float: left;
}
.b-seckill .b-seckill-countdown div {
  display: inline-block;
}
.b-seckill .countdown-title {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 31px;
  left: 35px;
}
.b-seckill .countdown-text {
  position: absolute;
  bottom: 60px;
  left: 25px;
  color: #fff;
}
.b-seckill .countdown-text .countdown-desc {
  display: block;
  height: 26px;
  line-height: 26px;
  font-size: 18px;
}
.b-seckill .countdown-text .countdown-desc span {
  font-weight: 700;
}
.b-seckill .countdown-text .countdown-timmer {
  position: absolute;
}
.b-seckill .countdown-text .countdown-timmer span {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  background-color: #2f3430;
}
.b-seckill .countdown-text .countdown-timmer span::after {
  content: ":";
  display: block;
  position: absolute;
  right: -20px;
  font-weight: bolder;
  font-size: 18px;
  width: 20px;
  height: 100%;
  top: 0;
}
.b-seckill .countdown-text .countdown-timmer span:last-child {
  margin-right: 0;
}
.b-seckill .countdown-text .countdown-timmer span:last-child::after {
  content: "";
  width: 0;
}
.b-seckill .b-seckill-list {
  float: left;
  width: 800px;
  height: 260px;
  background-color: blueviolet;
}
.b-seckill .b-seckill-brand {
  width: 200px;
  height: 240px;
  padding: 10px;
  display: inline-block;
  background-color: #e5d790;
}

/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 2/4 主体部分 */

/**
    左
*/
.b-cheap .b-cheap-left {
  width: 590px;
  height: 340px;
  float: left;
  background-color: #fff;
}
/**
    右
*/
.b-cheap .b-cheap-right {
  width: 590px;
  height: 340px;
  float: right;
  background-color: #fff;
}
/**
    左：效果
    上
*/
.b-cheap-left .b-cheap-right-top {
  width: 550px;
  height: 60px;
  padding: 0 20px;
  /* display: block; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.b-cheap-left .b-cheap-right-top-l {
  height: 100%;
}
.b-cheap-left .b-cheap-right-top-l h3 {
  display: inline-block;
  font-weight: 700px;
  font-size: 24px;
  color: #333;
  line-height: 60px;
  margin-right: 10px;
}
.b-cheap-left .b-cheap-right-top-l i {
  display: inline-block;
  font-size: 24px;
  line-height: 60px;
  color: #e1251b;
}
.b-cheap-left .b-cheap-right-top-r {
  height: 100%;
}
.b-cheap-left .b-cheap-right-top-r div {
  float: left;
  font-size: 14px;
  line-height: 60px;
  margin: 0 13.5px;
}
.b-cheap-left .b-cheap-right-top-r a {
  color: #999;
}
.b-cheap-left .b-cheap-right-top-r a:hover {
  color: #e1251b;
}
/**
    左：效果
    下
*/
.b-cheap-left .b-cheap-left-bottom {
  width: 560px;
  height: 270px;
  padding: 0 15px 15px 15px;
  display: block;
  overflow: hidden;
}
.b-cheap-left .b-cheap-left-bottom div:nth-child(1) {
  width: 170px;
  height: 260px;
  background-color: rgba(109, 126, 146, 0.05);
  float: left;
}
.b-cheap-left .b-cheap-left-bottom div:nth-child(2) {
  width: 170px;
  height: 89px;
  background-color: greenyellow;
  display: inline-block;
  margin: 18px 0 48px 19px;
}
.b-cheap-left .b-cheap-left-bottom div:nth-child(3) {
  width: 170px;
  height: 89px;
  background-color: greenyellow;
  display: inline-block;
  margin: 18px 0 48px 19px;
}
.b-cheap-left .b-cheap-left-bottom div:nth-child(4) {
  width: 170px;
  height: 89px;
  background-color: greenyellow;
  display: inline-block;
  margin: 0 0 48px 19px;
}
.b-cheap-left .b-cheap-left-bottom div:nth-child(5) {
  width: 170px;
  height: 89px;
  background-color: greenyellow;
  display: inline-block;
  margin: 0 0 48px 19px;
}
/**
    右：效果
*/

/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 3/4 主体部分 */

/* vvvvvvvvvvvv   具体效果   vvvvvvvvvvvvvvv */
/* 4/4 主体部分 */
