/**********************************************************************************************************************************
                                                                顶部导航(shortcut)
***********************************************************************************************************************************/
.shortcut{
    height: 30px;
    width: 100%;
    background-color: #e3e4e5;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.rel{
    position: relative;
}
.between{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}




/* 顶部导航(shortcut) 左 */
/* 顶部导航(shortcut) 左 */
/* 顶部导航(shortcut) 左 */
.shortcut .shortLeft{
    padding-left: 7px;
    padding-right: 7px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
}
.shortcut .shortLeft span{
    color: #999;
    /* display: inline-block; */
}
.shortcut .shortLeft:hover{
    color: #e33333;
    background-color: #fff;
}
.shortcut .shortLeft .iconfont{
    color: #f10215;
    font-size: 14px;
}



/* 顶部导航(shortcut) 右 */
/* 顶部导航(shortcut) 右 */
/* 顶部导航(shortcut) 右 */
.shortcut .shortRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.shortcut .shortRight div{
    padding: 0 10px;
    position: relative;
}
.shortcut .shortRight .ico{
    padding-right: 20px;
    padding-left: 7px;
}
.shortcut .shortRight .redA a{
    color: red;
}
.shortcut .shortRight .ico:hover{
    background-color: #fff;
}
.shortcut .shortRight a{
    color: #999;
    line-height: 30px;
    display: inline-block;
}
.shortcut .shortRight a:hover{
    color: #e33333;
}
.shortcut .shortRight div::before{
    content: "";
    width: 1px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 11px;
    background-color: rgba(0, 0, 0, 0.2);
}
.shortcut .shortRight div:nth-child(1)::before{
    content: "";
    width: 0;
}
.shortcut .shortRight div:nth-child(2)::before{
    content: "";
    width: 0;
}




/* 下拉菜单(shortcut)  */
/* 下拉菜单(shortcut)  */
/* 下拉菜单(shortcut)  */
.outside{
    position: absolute;
}
.shortMapDiv{
    top: 30px;
    left: -1px;
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 10px;
    width: 300px;
    height: 400px;
    display: none;
}
.shortMapDiv .items{
    float: left;
    width: 60px;
    padding: 2px 0;
    margin-bottom: 3px;
}
.shortMapDiv .items a{
    padding: 0 8px;
    float: left;
    color: #999;
    /* cursor: pointer; */
}
.shortMapDiv .items a:hover{
    background-color: #f4f4f4;
    color: #e33333;
}




/**********************************************************************************************************************************
                                                                头部导航(Header)
***********************************************************************************************************************************/
header{
    width: 100%;
    height: 140px;
    background-color: #fff;
    padding: 10px 0;
}
/* 头部导航(Header) 左-logo图片 */
header .h-left{
    width: 190px;
    height: 120px;
    overflow: hidden;
}
/* 头部导航(Header) 右-二维码图片 */
header .h-right{
    width: 190px;
    height: 120px;
    overflow: hidden;
}
/* 头部导航(Header) 中间-搜索框 */
header .h-content{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .h-content-top{
    height: 60px;
    padding-top: 15px;
    padding-left: 30px;
}
header .h-content-top .formInput{
    width: 546px;
    height: 32px;
    position: relative;
    border: 2px solid #e2231a;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .h-content-top .formInput input{
    width: 425px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    outline: none;
}
header .h-content-top .formInput span{
    position: absolute; 
    right: 75px;
    top: 10px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}
header .h-content-top .formInput span i:hover{
    color: #e33333;
}
header .h-content-top .formInput span i{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    font-size: 20px; 
    text-align: center;
    font-family: iconfont,sans-serif;
    color: #9f9f9f;
    cursor: pointer;
}
header .h-content-top .formInput button{
    background-color: #e2231a;
    width: 58px;
    height: 32px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
header .h-content-top .formInput button i{
    line-height: 32px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
header .h-content-top .formInput button:hover{
    background-color: #c81623;
}

/* 头部导航(Header) 中间-热词推荐 */
header .h-content-top .hotwords{
    margin-top: 5px;
    line-height: 20px;
}
header .h-content-top .hotwords :first-child{
    color: #c81623;
}
header .h-content-top .hotwords a{
    color: #999;
    margin-right: 10px;
}
header .h-content-top .hotwords a:hover{
    color: #e33333;
}

/* 头部导航(Header) 中间-底部推荐 */
header .h-content .h-content-bottom{
    overflow: hidden;
}
header .h-content .h-content-bottom ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
header .h-content .h-content-bottom li{
    float: left;
    height: 40px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
header .h-content .h-content-bottom li a{
    color: black;
    display: inline-block;
}
header .h-content .h-content-bottom li a:hover{
    color: #c81623;
}
header .h-content .h-content-bottom .redA a{
    font-weight: 700;
    color: red;
}





/**********************************************************************************************************************************
                                                                广告导航(nav)
***********************************************************************************************************************************/
nav{
    width: 100%;
    background-color: #f4f4f4;
}
nav .fx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
nav .n-left{
    width: 190px;
    height: 470px;
    background-color: #fff;
}
/* 左侧导航(n-left) 列表内容 */
.n-left ul{
    margin: 10px 0;
    height: 450px;
    width: 190px;
}
.n-left li{
    padding-left: 18px;
    color: black;
    height: 25px;
    line-height: 25px;
}
.n-left li:hover{
    background-color: #d9d9d9;
}
.n-left li a{
    font-size: 14px;
}
.n-left li a:hover{
    color: #c81623;
}




nav .n-content{
    width: 790px;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav .n-right{
    width: 190px;
    height: 470px;
    background-color: pink;
}
nav .n-content .n-content-left{
    width: 590px;
    height: 470px;
    background-color: #fff;
    position: relative;
    /* overflow: hidden; */
}
.n-content .buttonLeft{
    position: absolute;
    width: 25px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
    cursor: pointer;
    left: 0;
    top: 50%;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.n-content .buttonRight{
    position: absolute;
    width: 25px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
    cursor: pointer;
    right: 0px;
    top: 50%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.n-content-left div:nth-child(1):hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.n-content-left div:nth-child(2):hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.n-content-left i{
    line-height: 35px;
    color: #fff;
    font-size: 20px;
    display: block;
}

.n-content-left .buttonLists{
    position: absolute;
    left: 30px;
    bottom: 20px;
    z-index: 2;
    display: inline-block;
    width: 0;
}
.n-content-left .buttonLists ul{
    width: 120px;
    height: 15px;
    z-index: 3;
}
.n-content-left .buttonLists li{
    cursor: pointer;
    float: left;
    height: 8px;
    width: 8px;
    line-height: 15px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.4);
    margin-right: 4px;
}
.n-content-left .buttonLists li:first-child{
    background-color: #fff;
}







.n-content-left .images-list{
    position: relative;
    /* overflow: hidden; */
}
.n-content-left .img-items{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1.5s;
}
.n-content-left .img-items:nth-child(1){
    opacity: 1;
}










nav .n-content .n-content-right{
    width: 190px;
    height: 470px;
    position: relative;
}
nav .n-content .n-content-right div:nth-child(1),
nav .n-content .n-content-right div:nth-child(3),
nav .n-content .n-content-right div:nth-child(5){
    width: 190px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
}
nav .n-content .n-content-right div img{
    width: 190px;
    height: 150px;
}
nav .n-content .n-content-right div img:hover{
    opacity: 0.7;
}
/* nav .n-content .n-content-right .n-content-right-top{
    
}
nav .n-content .n-content-right .n-content-right-center{
    
}
nav .n-content .n-content-right .n-content-right-bottom{
    
} */
.n-content-right i{
    line-height: 35px;
    color: #fff;
    font-size: 20px;
    display: block;
}
.n-content-right div:nth-child(2):hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.n-content-right div:nth-child(4):hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.n-content-right .c-r-l-button{
    opacity: 0;
    transition: all 0.2s;
}
.n-content-right .c-r-r-button{
    opacity: 0;
    transition: all 0.2s;
}