/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------    Top   ----------------------------------- */
/* ------------------------------------------------------------------------------------------ */
footer{
    height: 730px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

footer .top{
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
footer .top li{
    float: left;
    padding: 24px 0px;
    width: 24%;
    text-align: center;
    position: relative;
}
footer .top a{
    color: black;
    font-size: 16px;
}

/* footer .top ul li:nth-child(1) img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50px;
} */
footer .top ul li img{
    width: 24px;
    height: 24px;
}
footer .top ul li:nth-child(1) img{
    position: absolute;
    left: 45px;
}
footer .top ul li:nth-child(2) img{
    position: absolute;
    left: 50px;
}
footer .top ul li:nth-child(3) img{
    position: absolute;
    left: 65px;
}
footer .top ul li:nth-child(4) img{
    position: absolute;
    left: 30px;
}

/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------    Center   ----------------------------------- */
/* ------------------------------------------------------------------------------------------ */
footer .center{
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
footer .center .left{
    width: 900px;
    float: left;
    color: black;
}
footer .center .left li{
    float: left;
    width: 15%;
}
footer .center .left p{
    padding: 32px 0px;
    line-height: 19px;
    font-size: 14px;
}
footer .center .left a{
    display: block;
    line-height: 17px;
    font-size: 12px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}
footer .center .left a:hover{
    color: orangered;
}

footer .center .right{
    width: 295px;
    color: black;
    float: right;
    position: relative;
}
footer .center .right .content{
    text-align: center;
    padding: 32px 0px;
    margin-bottom: 40px ;
    /* border: 1px solid black; */
}
footer .center .right .content::before{
    content: "";
    width: 1px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.05);
    display: block;
    position:absolute;
}
footer .center .right .content p:first-child{
    font-size: 24px;
    font-weight: 400;
}
footer .center .right .content p:nth-child(2){
    margin-top: 2px;
    font-size: 13px;
    line-height: 19px;
}
footer .center .right .content button{
    margin-top: 20px;
    height: 32px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    padding: 0 40px;
}
footer .center .right .content button img{
    width: 21px;
    height: 21px;
    margin-right: 10px;
}
footer .center .right .content .list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    font-size: 13px;
}
/* footer .center .right .content .list a:hover{
    background-color: rgba(0, 0, 0, 0.5);
} */
footer .center .right .content .list img{
    width: 20px;
    height: 20px;
    padding: 0 3px;
}
footer .center .right .content .list ul{
    margin: auto;
}
footer .center .right .content .list li{
    float: left;
}
footer .center .right .content .list li a:hover img{
    filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
}


/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------    Buttom   ----------------------------------- */
/* ------------------------------------------------------------------------------------------ */
footer .buttom{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
}
footer .buttom .content{
    padding: 33.5px 0px 40px;
    position: relative;
}
footer .buttom .content .left{
    float: left;
}
footer .buttom .content .left img{
    width: 82px;
    /* height: 20px; */
}
footer .buttom .content .bCenter{
    /* display: inline-block; */
    position: absolute;
    left: 130px;
    top: 45px;
}





footer .buttom .content .bCenter ul{
    display: inline-block;
    overflow: hidden;
}
/* footer .buttom .content .center .three{
    display: inline-block;
}
footer .buttom .content .center .four{
    display: inline-block;
} */
footer .buttom .content .bCenter .one li{
    float: left;
    padding: 0 5px;
    position: relative;
    line-height: 17px;
}



footer .buttom .content .bCenter .two li{
    float: left;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    line-height: 17px;
    padding: 0 5px;
    position: relative;
}
footer .buttom .content .bCenter .two li a{
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
}
footer .buttom .content .bCenter .two li a:hover{
    color: red;
}


footer .buttom .content .bCenter .three li{
    float: left;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    line-height: 17px;
    padding: 0 5px;
    position: relative;
}

footer .buttom .content .bCenter .four li{
    float: left;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    line-height: 17px;
    padding: 0 5px;
    position: relative;
}
footer .buttom .content .bCenter .four li a{
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
}
footer .buttom .content .bCenter .four li a:hover{
    color: red;
}

footer .buttom .content .right{
    position: absolute;
    right: 0;
}
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------    Buttom - 拉线   ----------------------------------- */
/* ------------------------------------------------------------------------------------------ */
footer .buttom .content .bCenter .one li::before{
    content: "";
    width: 1px;
    height: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 5px;
    left: 0px;
    /*left: 0px; */
}
footer .buttom .content .bCenter .one li:first-child::before{
    content: "";
    width: 0;
    height: 0;
}

footer .buttom .content .bCenter .two li:last-child::before{
    content: "";
    width: 1px;
    height: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 5px;
    left: 0;
}

footer .buttom .content .bCenter .three li::before{
    content: "";
    width: 1px;
    height: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 5px;
    left: 0px;
}
footer .buttom .content .bCenter .three li:first-child::before{
    content: "";
    width: 0;
    height: 0;
}

footer .buttom .content .bCenter .four li::before{
    content: "";
    width: 1px;
    height: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 5px;
    left: 0px;
}
footer .buttom .content .bCenter .four li:first-child::before{
    content: "";
    width: 0;
    height: 0;
}

